In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

dataframe = pd.read_csv("BreastCancerDataSet_LimpiezaCompletada.csv",sep=';')
clasificadores = ['Benigno','Maligno']
dataframe.head(10)

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,1,2,3,7,1,2,3,1,2,2
1,1,3,3,5,1,2,2,2,3,2
2,1,3,3,5,1,2,2,1,2,2
3,1,5,2,4,1,2,2,2,1,2
4,1,3,3,1,1,2,2,2,4,2
5,1,5,2,4,1,2,2,1,2,2
6,1,4,3,6,1,2,2,1,2,2
7,1,5,2,5,1,2,1,1,2,2
8,1,3,3,11,1,2,2,1,2,2
9,1,3,3,5,1,2,2,2,1,2